$singInGreen: rgb(141, 255, 47);
$singUpBlue: rgb(47, 161, 255);
$orange: rgb(255, 203, 34);
$orangeHover: rgb(240, 192, 35);
$orangeActive: rgba(240, 192, 35, 0.5);
$lightgray: #C3C3C3;
$redone: #f52e2e;
$redoneHover: #df2b2b;
$redoneActive: #f52e2e81;
$gray: gray;
$grayHover: rgb(104, 104, 104);
$green: rgb(0, 189, 0);
$greenHover: rgb(0, 170, 0);